<div class="app-root">
  <p>
    Lorem ipsum eleifend cras enim diam primis sollicitudin turpis, etiam augue
    proin quisque semper ut eu risus, ornare ultricies ipsum varius etiam
    vehicula lobortis. eu senectus praesent bibendum facilisis elit turpis
    convallis torquent ante scelerisque eleifend tellus, donec proin quis fusce
    ut elementum consectetur class cursus et. arcu fusce molestie habitasse
    convallis nullam mollis mauris mattis id, consectetur euismod iaculis donec
    fames tellus augue a, etiam molestie tortor aenean eget litora placerat
    laoreet. ad eleifend nostra aliquam fames class ante pretium nibh et,
    posuere venenatis aptent quis suspendisse varius sagittis interdum, lacinia
    dapibus felis aliquam inceptos est purus duis.
  </p>

  <div class="app-content">
    <router-outlet> </router-outlet>
  </div>
</div>
