<div class="navigation">
  <mat-sidenav-container class="sidenav-container vh-100">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-toolbar [drawer]="drawer"></app-toolbar>

      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
